.long-div {
width: 100%;
height: ;
background: linear-gradient(to bottom, #ffffcc 0%, #3399ff 100%);
}
.big-txt {
  display: block;
  margin: auto;
  max-width: 1200px;
  line-height: 1.2;
}
.sroll-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
.btn-two {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 180px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
.btn-two:hover {
  background-color: blue;
}
.btn-two.show {
  display: block;
}
.sroll-btn:hover {
  background-color: blue;
}
.custom-form__one {
  position: relative;
  margin: auto;
  border: 2px solid black;
  margin-bottom: 80px;
}
.one__name {
  margin-bottom: 40px;
}
.one__name input
{
  position: absolute;
  left: 0;
  top: 0;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
}
.one__name label{
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  display: block;
  transition: 0.5s;
}

.one__name input:focus{
outline: none;
}
.one__name input:focus + label,
.one__name input:valid + label
 {
  transform: translateY(20px);
}

.lname__row {
  position: relative;
}
.last-name:focus {
  outline: none;
}
.last-name {
  border: 0;
  background-color: transparent;
}
.last-name__span {
  display: block;
  position: absolute;
  height: 3px;
  background-color: black;
  width: 100%;
  bottom: 0;
  right: 0;
}
.last-name__span::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(33, 211, 187);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
}
/*
.last-name:focus + span::after,
.last-name:valid + span::after
 {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}
*/
.last-name:focus + .last-name__span::after,
.last-name:valid + .last-name__span::after
 {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}