@font-face {
  font-family: "Oxanium-Regular";
  src: url("../fonts/oxanium/Oxanium-Regular.eot");
  src: url("../fonts/oxanium/Oxanium-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/oxanium/Oxanium-Regular.svg#Oxanium-Regular") format("svg"),
    url("../fonts/oxanium/Oxanium-Regular.ttf") format("truetype"),
    url("../fonts/oxanium/Oxanium-Regular.woff") format("woff"),
    url("../fonts/oxanium/Oxanium-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/roboto/RobotoCondensed-Regular.eot");
  src: url("../fonts/roboto/RobotoCondensed-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto/RobotoCondensed-Regular.svg#RobotoCondensed-Regular")
      format("svg"),
    url("../fonts/roboto/RobotoCondensed-Regular.ttf") format("truetype"),
    url("../fonts/roboto/RobotoCondensed-Regular.woff") format("woff"),
    url("../fonts/roboto/RobotoCondensed-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TrueLies";
  src: url("../fonts/true/TrueLies.eot");
  src: url("../fonts/true/TrueLies.svg#TrueLies") format("svg"),
    url("../fonts/true/TrueLies.ttf") format("truetype"),
    url("../fonts/true/TrueLies.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fff500;
  background-image: url(../pictures/index/backgroundframe.svg);
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  font-family: "RobotoCondensed-Regular", Arial, Sans-serif;
  font-size: 14px;
  line-height: 1.2;
}

.nav {
  background: black;
  background-position: center bottom;
  padding: 20px 0;
  position: relative;
}

.nav::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 25px;
  background: url("../pictures/header.png");
  background-position: center;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #000000;
  height: 100%;
  position: relative;
  z-index: 1;
}
.menu li {
  flex-grow: 1;
  position: relative;
}

.menu a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
}
.menu a:hover {
  background-color: #fff500;
  color: #000000;
}

.menu .hiddenmenu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #000000;
  padding-top: 20px;
}

.dropoutmenu:hover .hiddenmenu {
  display: block;
}
.hamicon {
  display: none;
}
.burgerbutton {
  display: none;
  cursor: pointer;
  background: #fff500;
  padding: 4px 2px;
  border: 1px solid #fff500;
  border-radius: 5px;
  margin-left: auto;
  height: 25px;
  width: 25px;
  outline: none;
  transition: background-color 0.3s;
}
.burgerbutton .burgerbutton__line {
  height: 2px;
  width: 100%;
  background: black;
  transition: transform 0.3s, opacity 0.2s, background-color 0.3s;
}
.burgerbutton.active {
  background: black;
}

.burgerbutton .burgerbutton__line:first-child {
  transform-origin: 0 75%;
}

.burgerbutton .burgerbutton__line:last-child {
  transform-origin: 0 75%;
}

.burgerbutton.active .burgerbutton__line {
  background: #fff500;
}
.burgerbutton.active .burgerbutton__line:first-child {
  transform: rotate(45deg) translate(2px, -2px);
}
.burgerbutton.active .burgerbutton__line:nth-child(2) {
  opacity: 0;
}
.burgerbutton.active .burgerbutton__line:last-child {
  transform: rotate(-45deg) translate(2px, 2px);
  transform-origin: 0 75%;
}
/*Топ и бурегр */
.mainblock {
display: flex;
padding-top: 25px;

}
.leftone{
flex:1 2 300px;
border: solid 3px;
}
.leftone h1 {
  font-family:"TrueLies",Arial, Helvetica, sans-serif ;
  font-size:60px ;
  text-align: center;
}
.leftone h3 {
  font-family:"Oxanium-Regular",Arial, Helvetica, sans-serif ;
  text-align: center;
  font-size:25px ;
}
p{
  text-indent: 20px;
}
.rightone {
  border: solid 3px;
  flex:5 1 300px;
}
.footer {
  border: solid 5px;

}

@media screen and (max-width: 767px) {
  .nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 5px 10px;
  }
  .burgerbutton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  } 
  .menu {
    padding: 10px;
    display: block;
    position: fixed;
    right: 0;
    top: 35px;
    background: #000000;
    width: 120px;
    height: auto;
    transform: translateX(100%);
    transition: transform 0.4s;
  }
  .menu.active {
    transform: translateX(0);
  }
  .menu .hiddenmenu {
    padding-left: 30px;
    display: block;
    position: static;
    padding-top: 0;
  }
  .menu a {
    display: block;
    text-align: left;
    padding: 0 5px;
    text-decoration: none;
    color: #ffffff;
    line-height: 1.2;
    font-size: 16px;
  }
  .menu a:hover {
    background-color: #fff500;
    color: #000000;
  }
  .mainblock {
    display: flex;
    flex-direction: column;
  padding-top: 43px;
    
    }
}

