@font-face {
  font-family: 'True Lies';
  src: url('True Lies.eot');
  src: url('True Lies.eot?#iefix') format('embedded-opentype'),
       url('True Lies.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrueLies';
  src: url('TrueLies.svg#TrueLies') format('svg'),
       url('TrueLies.ttf') format('truetype'),
       url('TrueLies.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

