@font-face {
  font-family: 'Oxanium-Regular';
  src: url('Oxanium-Regular.eot');
  src: url('Oxanium-Regular.eot?#iefix') format('embedded-opentype'),
       url('Oxanium-Regular.svg#Oxanium-Regular') format('svg'),
       url('Oxanium-Regular.ttf') format('truetype'),
       url('Oxanium-Regular.woff') format('woff'),
       url('Oxanium-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

